/* ResetPasswordPage.module.css */

.resetPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffaa00;
    padding: 20px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    background-color: #fff;
    padding: 16px;
    max-width: 500px;
    padding: 48px 16px;
    border-radius: 12px;
}

.resetContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    width: 500px;


}
.passwordWrapper {
    position: relative;
  }
  
  .passwordToggleIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
.formGroupBtndiv {
    padding-left: 16px;
    width: 100%;
}

.resetForm {
    width: 100%;

}

.formGroup {
    margin-bottom: 32px;
    width: 500px;
    padding: 0px 16px
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formInput {
    width: 100%;
    max-width: 400px;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 1rem;
}

.form-control {
    padding: 18px;
}

.passwordContainer {
    position: relative;
}

.togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #6c757d;
}

.submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
}

.submitButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.errorMessage {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 5px;
}

.passwordHint {
    font-size: 0.875rem;
    color: #6c757d;
    margin-top: 10px;
}